<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/reset.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="/assets/js/turbolinks.js"></script>
    </head>
    <body>
      
      <div id="topbar">
        
        <ul class="nav nav_left float_left">
          <li id="logo">
            <a href="/">
              <img src="/assets/branding/logo_small.png">
            </a>
          </li>
          
          {% for link in site.nav_left %}
            {% assign selected = nil %}
            {% if page.url == link.url %}
              {% assign selected = 'selected' %}
            {% endif %}

            <li>
              <a class="{{ selected }}" href="{{ link.permalink }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
        
        <ul class="nav nav_right float_right">
          {% for link in site.nav_right %}
            {% assign selected = nil %}
            {% if page.url == link.url %}
              {% assign selected = 'selected' %}
            {% endif %}

            <li>
              <a class="{{ selected }}" href="{{ link.permalink }}">{{ link.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      {{ content }}

    </body>
</html>
