---
layout: default
---

{% assign post = page %}
</div>

<div class="full_width">
  <div class="banner blue_white wide">
    
    <div class="container">
      
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>
  
      <div class="content_box">
        <div id="post" class="yield">
          {% include excerpt.html %}
        </div>
        
        <div id="right_sidebar" class="sidebar">
          {% include latest_posts.html %}
        </div>
        
        <div class="clear"></div>
      </div>
    
    </div>
    
  </div>
</div>
  